<br>
<div class="float-right">
    <div class="row">
        <div class="container">
            <button type="button" routerLink="/admins" tooltip="Agregar usuario" class="btn btn-info btn-circle btn-lg"><i><fa-icon [icon]="faPlus"></fa-icon></i></button>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container">
<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Activo</th>
                <th scope="col">Admin</th>
            </tr>
        </thead>
        <tbody *ngFor="let admin of admins">
            <tr>
                <!-- <app-detalle-producto [product]="producto"></app-detalle-producto> -->
                <th scope="row">{{admin.nombre}}</th>
                <td>{{admin.apellido}}</td>
                <td>{{admin.email}}</td>
                <td>{{admin.activo ? "SI" : "NO"}}</td>
                <td>{{admin.admin ? "SI" : "NO"}}</td>
            </tr>
        </tbody>
</table></div>