<br>
<div class="float-right">
    <div class="row">
        <div class="container">
            <button type="button" routerLink="/productos" tooltip="Agregar producto" class="btn btn-info btn-circle btn-lg"><i><fa-icon [icon]="faPlus"></fa-icon></i></button>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container">
    <input [(ngModel)]="denominacion" placeholder="denominacion"/>
    <input [(ngModel)]="sku" placeholder="sku"/>
    <input type="number" [(ngModel)]="precioMin" placeholder="precioMin"/>
    <input type="number" [(ngModel)]="precioMax" placeholder="precioMax"/>
    <button (click)="buscar()">Buscar</button>
</div>

<div class="container">
<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" (click)="ordenar('sku')">SKU</th>
                <th scope="col" (click)="ordenar('denominacion')">Denominaci&oacute;n</th>
                <th scope="col">Descripci&oacute;n</th>
                <th scope="col" (click)="ordenar('precio')">Precio</th>
                <th scope="col">Oferta</th>
                <th scope="col">Stock</th>
                <th scope="col">Categoria</th>
                <th scope="col">Im&aacute;genes</th>
            </tr>
        </thead>
        <tbody *ngFor="let producto of productos">
            <tr>
                <!-- <app-detalle-producto [product]="producto"></app-detalle-producto> -->
                <th scope="row" (click)="detalleProducto(producto._id)">+</th>
                <th scope="row">{{producto.sku}}</th>
                <td>{{producto.denominacion}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.precio | currency}}</td>
                <td>{{producto.precioOferta | currency}}</td>
                <td>{{producto.stock}}</td>
                <td>{{producto.categoria ? producto.categoria.nombre : ""}}</td>
                <td><ul>
                    <li *ngFor="let imagen of producto.imagenes"><a href="imagen">{{imagen}}</a></li>
                </ul></td>
            </tr>
        </tbody>
</table>

<div>
    <button *ngIf="this.prevPage" (click)="paginar(this.prevPage)">{{this.prevPage}}</button>
    P&aacute;gina: {{this.page}}
    <button *ngIf="this.nextPage" (click)="paginar(this.nextPage)">{{this.nextPage}}</button>
</div>
</div>