<br/><br/><br/>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <div class="form-group alert alert-success">
            <h4 class="alert-heading">Bienvenido</h4>
            <p>Por favor, ingrese email y contraseña para ingresar al panel de administraci&oacute;n.</p>
        </div>
    </div>
    <div class="col-4"></div>
</div>

<form [formGroup]="loginForm" (ngSubmit)="loginAdmin()"> 
    <div class="row">
        <div class="col-4"></div>
        
        <div class="col-4 text-center">
            <div class="form-group">
                <label for="formGroupExampleInput">Usuario</label>
                <input type="text" class="form-control" [ngClass]="{invalid: loginForm.get('email').errors && loginForm.get('email').dirty}" formControlName="email" id="formGroupExampleInput" placeholder="Email">
                <small *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty" class="text-danger">
                        Debe ingresar el usuario.
                </small>
                </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Contraseña</label>
                <input type="password" class="form-control" [ngClass]="{invalid: loginForm.get('password').errors && loginForm.get('password').dirty}" formControlName="password" id="formGroupExampleInput2" placeholder="Password">
                <small id="passwordHelp" *ngIf="loginForm.get('password').errors && loginForm.get('password').dirty" class="text-danger">
                    Debe ingresar la contraseña.
                </small>
            </div>
            
            <button type="submit" class="btn btn-dark mb-4">Iniciar sesi&oacute;n</button>

            <div *ngIf="this.loginError" class="col-12 alert alert-danger" role="alert">
                {{errorMessage}}
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</form>
